.menu-bar {
  height: 98px !important;
  border-top: 1px solid #e6e6e6;

  .van-tabbar-item {
    font-size: 22px;

    .van-tabbar-item__icon {
      font-size: 0.34rem;

      .iconfont {
        font-size: 1em;
      }
    }
  }
}
