.swipe-section{
    width: 690px;
    height: 360px;
    overflow: hidden;
    border-radius: 20px;
    .van-swipe-item{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            position:absolute;
            left:50%;
            height: 100%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
    .van-swipe__indicators{
        bottom: 30px;
        .van-swipe__indicator{
            width: 12px;
            height: 12px;
        }
        .van-swipe__indicator--active{
            width: 32px;
            background-color: #fff;
            border-radius: 20px;
        }
    }
}